// PRIMERA PALETA
$white:#fff;
$platinum:#e6e7e7;
$light-gray:#d1d1d1;

// SEGUNDA PALETA
$fuzzy:#e56353;
$ruddy-pink:#d76c69;
$spanish-pink:#ecbcba;


// TERCERA PALETA
$eerie-black:#121619;
$raisin-black:#222323;
$nickel:#6c6e70;

// FUENTE
$roboto:'Roboto', sans-serif;
$lobster:'Lobster', cursive;

// PESO FUENTES
$regular: 400;
$light: 300;

// TAMAÑOS DE FUENTE
$xx-large:70px;
$x-large:30px;
$large:18px;
$medium:16px;
$small:12px;